.page {
    height: 100%;
    background-color: #fff;

    :global {
        .notice {
            width: 100%;
            height: 90px;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;

            .icon_right {
                height: 30px;
            }
        }

        .errorLine {
			border-top: 1px solid #d2284b;
            padding-top: 10px;
            width: 100%;
            text-align: right;
            line-height: 1;
            font-size: 24px;
            color: #d2284b;
        }

        .rules {
            padding-top: 20px;
        }

        .tip {
            font-size: 24px;
            font-weight: 400;
            color: rgba(153, 153, 153, 1);
            line-height: 34px;
            text-align: center;
            margin-top: 48px;
        }

        .btn {
            margin-top: 158px;
        }
    }
}