.page {
  height: 100%;
  background-color: #fff;
}
.page :global .notice {
  width: 100%;
  height: 90px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.page :global .notice .icon_right {
  height: 30px;
}
.page :global .rules {
  padding-top: 20px;
}
.page :global .tip {
  font-size: 24px;
  font-weight: 400;
  color: #999999;
  line-height: 34px;
  text-align: center;
  margin-top: 48px;
}
.page :global .btn {
  margin-top: 158px;
}
