:global .readme_content {
  width: 100%;
  height: auto;
  font-size: 0;
  position: relative;
}
:global .readme_content .readme_background {
  width: 100%;
}
:global .readme_content .readme_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
:global .readme_content .readme_box .readme_titel {
  width: 580px;
  height: 130px;
  position: absolute;
  top: 11.7%;
  left: 50%;
  margin-left: -290px;
  box-sizing: border-box;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name {
  height: 50px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  display: flex;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .lineimg {
  display: inline-block;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .lineimg img {
  width: 90px;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .readme_titel_contentbox {
  display: flex;
  flex: 1;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .readme_titel_contentbox .readme_titel_brief1 {
  flex: 1.5;
  text-align: right;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .readme_titel_contentbox .readme_titel_num {
  flex: 1;
  color: #ce647e;
}
:global .readme_content .readme_box .readme_titel .readme_titel_name .readme_titel_contentbox .readme_titel_brief2 {
  flex: 3;
  text-align: left;
}
:global .readme_content .readme_box .readme_titel .readme_titel_list {
  height: 70px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #d0d7ef;
  box-sizing: border-box;
  padding-top: 20px;
}
:global .readme_content .readme_box .readme_box1 {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 36.8%;
  right: 28.6%;
  margin-right: -140px;
  box-sizing: border-box;
  padding-top: 25px;
  text-align: right;
}
:global .readme_content .readme_box .readme_box1 .readme_box1_name {
  height: 64px;
  font-size: 34px;
}
:global .readme_content .readme_box .readme_box1 .readme_box1_go {
  font-size: 23px;
  color: #21418a;
}
:global .readme_content .readme_box .readme_box2 {
  width: 240px;
  height: 200px;
  position: absolute;
  top: 56.8%;
  left: 40%;
  margin-left: -220px;
  box-sizing: border-box;
  text-align: left;
}
:global .readme_content .readme_box .readme_box2 .readme_box2_name {
  height: 64px;
  font-size: 34px;
}
:global .readme_content .readme_box .readme_box2 .readme_box2_go {
  font-size: 23px;
  color: #21418a;
}
:global .readme_content .readme_box .readme_box3 {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 81.8%;
  right: 28.6%;
  margin-right: -140px;
  box-sizing: border-box;
  padding-top: 25px;
  text-align: right;
}
:global .readme_content .readme_box .readme_box3 .readme_box3_name {
  height: 64px;
  font-size: 34px;
}
:global .readme_content .readme_box .readme_box3 .readme_box3_go {
  font-size: 23px;
  color: #21418a;
}
