.wrap {
  padding-top: 96px;
  :global {
    .tab {
      margin: 120px 0;
      color: #999999;
      .tab-item {
        margin-right: 40px;
        &.active {
          color: #21418a;
        }
      }
    }
  }
}

.title {
  font-size: 48px;
}

.inputWrap {
  height: 108px;
  border-bottom: 2px solid #999;
}

.warring {
  color: #999;
  margin-top: 18px;
}
