.orderItem {
  height: 136px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
  }

  :global {
    .ordernum {
      line-height: 1;
      margin-bottom: 20px;
    }
    .content {
      border-bottom: 1px solid #F0F2F5;
      height: 100%;
      width: 590px;
      .content_main {
        width: 460px;
      }
    }
    .time {
      line-height: 1;
      color: #999;
    }
  }
}
