.page {
	background-color: #fff;
	min-height: 100%;
	padding-bottom: 30px;
	:global {
		.line {
			height: 24px;
			background-color: #f8f8f8;
		}
		.add {
			text-align: center;
			margin-top: 60px;
			font-size: 24px;
			color: rgba(153, 153, 153, 1);
			img {
				width: 32px;
				margin-bottom: 10px;
			}
		}
		.delete {
			width: 253px;
			height: 67px;
			border: 1px solid rgba(33, 65, 138, 1);
			border-radius: 34px;
			font-size: 32px;
			color: #21418a;
			text-align: center;
			line-height: 67px;
			margin-top: 20px;
		}
		.submitBtn {
			margin-top: 50px;
		}
	}
}

.rules {
	:global {
		.numberInput {
			padding: 0 10px !important;
			width: 150px;
			text-align: center;
			.am-list-line {
				border-bottom: none !important;
			}
		}
	}
}
