.page {
  background-color: #fff;
  min-height: 100%;
  padding-bottom: 30px;
}
.page :global .notice {
  width: 100%;
  height: 90px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.page :global .notice .icon_right {
  height: 30px;
}
.page :global .line {
  height: 24px;
  background-color: #f8f8f8;
}
.page :global .add {
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
  color: #999999;
}
.page :global .add img {
  width: 32px;
  margin-bottom: 10px;
}
.page :global .delete {
  width: 253px;
  height: 67px;
  border: 1px solid #21418a;
  border-radius: 34px;
  font-size: 32px;
  color: #21418a;
  text-align: center;
  line-height: 67px;
  margin-top: 20px;
}
.page :global .submitBtn {
  margin-top: 50px;
}
.rules :global .numberInput {
  padding: 0 10px !important;
  width: 150px;
  text-align: center;
}
.rules :global .numberInput .am-list-line {
  border-bottom: none !important;
}
