.page {
	min-height: 100%;
  padding-bottom: 30px;
  background: #F0F2F5;
  position: relative;
	:global {
		.bg {
			width: 100%;
			height: 300px;
			// background-color: #21418a;
    }
    .time_box {
      height: 100px;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      font-size: 32px;
      padding-left: 34px;
      background:linear-gradient(-28deg,rgba(72,109,218,1) 0%,rgba(122,88,253,1) 100%);
    }
		.time-select {
			font-size: 32px;
      color: #fff;
      height: 60px;
      margin-left: 34px;
      padding-left: 20px;
      box-sizing: border-box;
      border-radius: 60px;
      border: 1px solid #eee;
			img {
				width: 20px;
				height: 12px;
				margin-left: 22px;
			}
		}
	}
}

.box {

	:global {
		.title {
      // padding: 26px;
      margin-bottom: 20px;
      font-weight: bold;
			font-size: 28px;
			box-sizing: border-box;
      margin-top: 26px;
    }
    .box_main {
      background: rgba(255, 255, 255, 1);
      border-radius: 10px;
    }
		.box-content {
			min-height: 200px;
		}
		.tip {
			color: #999;
    }
    .pie_box {
      padding: 38px;
    }
		.incomeBox {
			padding: 30px;
			.small-title {
				font-size: 30px;
        margin-bottom: 30px;
        width: 300px;
        height: 70px;
        color: #000;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        background: #dfebfe;
      }
      .info-box {
        border: 1px solid #dfebfe;
        width: 300px;
        border-radius: 10px;
        padding-bottom: 25px;
      }
			.info {
				color: #5f666c;
        margin-bottom: 10px;
        .info-title {
          width: 150px;
          text-align: right;
        }
				.price {
          color: #000;
          font-weight: bold;
          font-size: 28px;
          padding-left: 15px;
          line-height: 44px;
				}
			}
		}
		.progressbar {
			width: 134px;
			margin: 20px auto 0;
		}
		.barName {
			color: #666;
			font-size: 28px;
			margin-top: 30px;
			line-height: 1;
			text-align: center;
			margin-bottom: 40px;
		}
		.pie-chart {
			width: 300px;
			margin-left: 20px;
		}
		.pie-tip {
			font-size: 24px;
			color: #666;
			margin-top: 26px;
			padding-left: 80px;
			padding-bottom: 20px;
			.pie {
				width: 22px;
				height: 22px;
				border-radius: 50%;
				margin-right: 20px;
				&.zfb {
					background: rgba(255, 102, 84, 1);
				}
				&.wx {
					background: rgba(33, 65, 138, 1);
				}
			}
		}
		.lookMore {
			width: auto;
			font-size: 22px;
			color: #21418a;
			img {
				width: 12px;
				margin-left: 10px;
			}
		}
	}
}
