.page {
    height: 100%;
    min-height: calc(100vh - 88px);
    background: #fff;

    .prompt {
        font-family: PingFang-SC-Medium;
        color: red;
        margin-top: 10px;
        font-size: 24px;
    }

    .groub_hint {
        position: relative;
        margin-bottom: -20px;
        height: 20px;
        z-index: 10;
        font-size: 22px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(210, 40, 75, 1);
        text-align: right;
    }
}

.addImg {
    width: 78px;
    height: 78px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 5px;
}

.coverTitle {
    margin-right: 20px;
}

.upload {
    display: none;
}

.btns {
    width: 100%;

    div {
        height: 88px;
        border: 1px solid rgba(102, 102, 102, 1);
        text-align: center;
        line-height: 88px;
        font-size: 32px;

        &:last-child {
            background-color: rgba(33, 65, 138, 1);
            color: #fff;
        }
    }
}

.coupons_name :global {
    .am-input-control input {
        text-align: right;
    }
}


:global {
    .numberInput {
        padding: 0 10px !important;
        width: 150px;
        text-align: center;

        .am-list-line {
            border-bottom: none !important;
        }
    }
}


.img_box {
    padding: 20px 0px;

    .image {
        font-size: 23px;
        color: #999;
        text-align: center;

        .describe {
            margin-top: 16px;
            height: 25px;
        }
    }
}

.upload_img :global {
    .am-image-picker-list {
        padding: 0;
        margin-bottom: 0;
    }

    .am-image-picker-list .am-flexbox .am-flexbox-item {
        width: 221px;
        margin-right: 16px;
    }

    .am-image-picker-list .am-image-picker-upload-btn {
        background: url('http://oss.tdianyi.com/front/837fWG4NCCJ5xpXTmHHGPiTZbBYGhTbj.png') no-repeat;
        background-size: 100%;
    }

    .am-image-picker-list .am-image-picker-upload-btn::before {
        height: 0;
        width: 0;
    }

    .am-image-picker-list .am-image-picker-upload-btn::after {
        height: 0;
        width: 0;
    }


    .am-image-picker-list .am-flexbox .am-flexbox-item {
        overflow-y: visible;
    }


}

:global {
    .am-list-body {
        border: none
    }
}

#no_bottom_box {
    :global {
        .am-list-line {
            border: none
        }
    }
}

.page {
    :global .am-list-item {
        padding-left: 0;
    }

    :global .am-list-item .am-list-line .am-list-extra {
        padding-top: 0;
        padding-bottom: 0;
    }

    :global .am-list-item .am-list-line .am-list-content {
        font-size: 28px !important;
        color: #666666 !important;
    }

}


.share_title {
    margin: 24px 0;
}

.share_border {
    border: 1px solid #ccc;
    margin-bottom: 24px;

    .share_inp {
        width: 100%;
        border: 1px solid #ccc;
        padding: 15px;
        overflow: auto;
    }
}