.order_detail {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 34px 32px 0 32px;
    box-sizing: border-box;
    .order_name {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        .logo {
            width: 8px;
            height: 32px;
            background: #4264E0;
            margin-right: 20px;
        }
        .title {
            font-size: 34px;
            color: #000000;
            font-weight: 600;
        }
    }
    .flex_order_info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        .order_info_status {
            font-size: 30px;
            color: #000000;
        }
        .order_info_value {
            font-size: 30px;
            color: #333;
        }
    }
}