.page {
  height: 100%;
  background-color: #fff;

  :global {
    .price {
      padding-top: 66px;
      color: #486dda;
      font-size: 72px;
      font-weight: 500;
      text-align: center;
    }

    .trade {
      color: #333333;
      text-align: center;
      padding-top: 20px;
    }

    .label-title {
      color: #333333;
      font-weight: bold;
      font-size: 30px;
    }

    .label {
      color: #999;
    }

    .order-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 66px;

      .label {
        color: #999;
      }

      .order_sn-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .content {
      padding-top: 30px;

      .box {
        // padding: 40px 0;

        &:last-child {
          border-bottom: none;
        }

        .am-flexbox {
          height: 66px;

          .am-flexbox-item {
            text-align: right;
          }
        }
      }

      .showContentBtn-box {
        width: 100%;
        height: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        border-bottom: solid 1px #f0f2f5;

        .showContentBtn {
          color: #486dda;
        }
      }
    }
  }
}