.detailsPage {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
}
.detailsPage .headers {
  height: 98px;
}
.detailsPage .headers .names {
  font-size: 31px;
}
.detailsPage .headers .names span {
  margin-left: 10px;
  display: inline-block;
  width: 76px;
  height: 27px;
  border: 2px solid #f55641;
  border-radius: 10px;
  font-size: 18px;
  color: #f55641;
  text-align: center;
  line-height: 27px;
}
.detailsPage .headers img {
  width: 102px;
}
.detailsPage .activity_img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}
.detailsPage .activity_img img {
  width: 100%;
  height: 100%;
}
.detailsPage .title {
  width: 100%;
  font-size: 31px;
  margin: 45px 0;
  height: 38px;
  line-height: 38px;
}
.detailsPage .title .gang {
  width: 6px;
  height: 38px;
  background: #FF6654;
  margin-right: 17px;
}
.detailsPage .item {
  height: 60px;
}
.detailsPage .item .item_name {
  width: 200px;
  font-size: 28px;
}
.detailsPage .item .item_detail {
  font-size: 24px;
  color: #666666;
}
.detailsPage .item_height {
  min-height: 60px;
  height: auto;
}
.detailsPage .item_height .item_name {
  width: 200px;
  font-size: 28px;
}
.detailsPage .item_height p {
  margin: 0;
  margin-bottom: 25px;
}
.detailsPage .item_height .item_long {
  font-size: 24px;
  color: #666666;
}
.detailsPage .item_height .item_img {
  width: 158px;
  height: 88px;
  margin-bottom: 34px;
}
.detailsPage .item_height .item_img img {
  width: 100%;
  height: 100%;
}
.button {
  margin-top: 50px;
}
