.limitItem {
	height: 80px;
	color: #333;
	text-align: right;
	img {
		width: 38px;
	}
	input {
		width: 120px;
		height: 48px;
		border: 1px solid rgba(33, 65, 138, 1);
		border-radius: 10px;
		padding: 0 10px;
	}
	span {
		margin: 0 18px;
	}
}
