.examplePage {
  position: fixed;
  top: 0;
  z-index: 9990;
  background: #fff;
  img {
    width: 470px;
    margin-top: 36px;
  }
}

.bg {
  width: 670px;
  height: 438px;
  background: #eee;
  margin: 22px 0 36px 0;
}
.title {
  font-size: 26px;
}
.footer {
  font-size: 24px;
  color: #666666;
  line-height: 35px;
}

