.dispatching_page {
  width: 100%;
  height: 100%;
  background: #fff;
  .line_layout {
    padding: 0 36px 0 31px;
    border-bottom: 1px solid #F0F2F5;
    height: 98px;
    box-sizing: border-box;
    .line_label {
      font-size: 30px;
    }
    .line_checkout {
      width: 128px;
      height: 64px;
      background: #4486F7;
      border-radius: 32px;
      padding: 8px 10px;
      box-sizing: border-box;
      position: relative;
      .checkout_icon {
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        transition: all .4s;
      }
      .checkout_icon_right {
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left:70px;
        transition: all .4s;
      }

    }
    :global {
      .am-list-item .am-input-control input {
        text-align: right;
      }
    }
    .line_text {
      display: flex;
      align-items: center;
    }
  }
  .line_time {
    width: 48px;
    height: 48px;
    margin-left: 20px;
  }
  .tips_box {
    padding-left: 31px;
    color: #889399;
    font-size: 28px;
    .tips_title {
      font-size: 30px;
      color: #000;
      padding-top: 35px;
    }
  }
}
