.page {
  width: 100%;
  min-height: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background: #fff;
}
.lists {
  -webkit-overflow-scrolling: touch;
  height: auto;
}
.giftBox {
  padding-bottom: 31px;
  padding-top: 31px;
  border-bottom: 1px solid #e5e5e5;
}
.giftBox .image {
  width: 171px;
  height: 95px;
  overflow: hidden;
  background: #ddd;
}
.giftBox .image img {
  width: 100%;
  height: 100%;
}
.giftBox .text {
  margin-left: 17px;
  width: 500px;
  position: relative;
}
.giftBox .text .name {
  margin-top: 8px;
  margin-bottom: 30px;
  font-size: 26px;
  color: #333;
  width: 100%;
  display: -webkit-box;
}
.giftBox .text .name div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.giftBox .text .prices {
  font-size: 23px;
}
.giftBox .text .icon {
  position: absolute;
  width: 31px;
  height: 31px;
  right: 10px;
  top: 40px;
  background: url('../appreciation/createAppreciation/image/no_choose.png') no-repeat;
  background-size: 100%;
}
.buttons {
  width: 100%;
  height: 87px;
  position: fixed;
  bottom: 0;
}
.buttons div {
  text-align: center;
  line-height: 87px;
  width: 50%;
}
.buttons .cancel {
  background: #fff;
  color: #333;
  border-top: 1px solid #333;
  box-sizing: border-box;
}
.buttons .submit {
  background: #21418A;
  color: #fff;
}
.icon :global .am-radio-inner::after {
  border-style: none;
  width: 30px;
  height: 30px;
  background: url('../appreciation/createAppreciation/image/choose.png') no-repeat;
  background-size: 100%;
  top: 0;
  right: 0;
}
