.financeItem {
  height: 136px;
  border-bottom: 1px solid #eee;
  img {
    width: 62px;
    height: 62px;
    border-radius: 62px;
    margin-right: 20px;
  }
  :global {
    .ordernum {
      line-height: 1;
      margin-bottom: 20px;
    }
    .time {
      line-height: 1;
      color: #999;
    }
    .more {
      font-size: 32px;
      text-align: right;
    }
    .status {
      color: #ff6654;
      font-size: 24px;
      margin-top: 20px;
    }
  }
}

.layoutAfter {
  padding: 35px 0 58px;
  :global {
    .input-wrap {
      width: 256px;
      height: 60px;
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(229, 229, 229, 1);
      border-radius: 10px;
      padding-left: 12px;
    }
    .line {
      width: 47px;
      height: 1px;
      background: rgba(210, 210, 210, 1);
      margin: 0 18px;
    }
  }
}
