.participateActivities{
  display: flex;
  flex-direction: column;
  align-items: center;
  .activity_big_img{
    padding: 21px 0px;
    width: 90vw;
    height:220px;
    img {
      height: 100%;
      width: 100%;
      border-radius:10px;
    }
  }
  .set_prompt{
    width: 90vw;
    margin: 20px 0px;
    padding-left: 40px;
    font-size:26px;
    font-family:PingFang SC;
    font-weight:400;
    color:#9B9B9B;
  }

  .foot {
    position: fixed;
    bottom: 40px;
    display: flex;
    span {
      background-image: url('../../../assets/join_active.png');
      background-size:  460px;
      background-repeat: no-repeat;
      background-position:-150px -13px ;
    }
  }

}
