.participateActivities{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  .activity_big_img{
    width:710px;
    height:220px;
    border-radius:10px;
    img {
      height: 100%;
      width: 100%;
    }
  }

}
