.details {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #fff;
  .gift_name {
    font-size: 32px;
    color: #333;
  }
  .gift_price {
    font-size: 36px;
    color: #FF6654;
  }
  .gang {
    width:6px;
    height:38px;
    background:rgba(255,102,84,1);
    margin-right: 17px;
  }
  .title {
    font-size: 32px;
  }
  ul {
    font-size: 24px;
    line-height: 48px;
  }
  img {
    width: 100%;
  }

}
