.title {
  padding-top: 38px;
}
.title div {
  width: 132px;
  height: 42px;
  background: #C5D7FF;
  border-radius: 10px;
  font-size: 28px;
  line-height: 42px;
  color: #21418A;
  text-align: center;
}
.input_Box {
  width: 100%;
}
.input_Box .radio0 {
  height: 94px;
}
.input_Box .radio0 .radioFlex {
  position: relative;
  width: 100%;
  height: auto;
}
.input_Box .radio0 .radioFlex .radioScope {
  color: #666666;
  font-size: 0.28rem;
  display: inline-block;
}
.input_Box .radio0 .radioFlex .radioScope .radioTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input_Box .radio0 .radioFlex .radioScope .radioTitle img {
  height: 28px;
  margin-left: 11px;
}
.input_Box .radio0 .radioFlex .radioBox {
  display: inline-block;
  float: right;
}
.input_Box .radio0 .radioFlex .radioBox .choose {
  width: auto;
}
.input_Box .radio0 .radioFlex .radioBox .choose .chooseBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input_Box .radio0 .radioFlex .radioBox .choose .chooseBox img {
  width: 26px;
  margin-right: 11px;
}
.input_Box .radio {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.input_Box .radio .radioFlex {
  position: relative;
  width: 100%;
  height: auto;
}
.input_Box .radio .radioFlex .radioScope {
  color: #666666;
  font-size: 0.28rem;
  display: inline-block;
}
.input_Box .radio .radioFlex .radioBox {
  display: inline-block;
  float: right;
}
.input_Box .radio .radioFlex .radioBox .choose {
  width: auto;
}
.input_Box .radio .radioFlex .radioBox .choose .chooseBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input_Box .radio .radioFlex .radioBox .choose .chooseBox img {
  width: 26px;
  margin-right: 11px;
}
.input_Box .my_Radio > span {
  padding: 2.5px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #21418A;
}
.input_Box .radio0_space {
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 24px;
  line-height: 30px;
  overflow: hidden;
}
.input_Box .radio0_space .radio0_msg {
  margin-bottom: 40px;
}
.input_Box .radio0_space .radio0_msg p {
  padding: 0;
  margin: 0;
}
.input_Box .activity_space {
  height: 74px;
  border-bottom: 1px solid #ddd;
}
.input_Box .activity_space > div {
  width: 100%;
}
.input_Box .pickerDate {
  width: 100%;
  height: 94px;
}
.input_Box .pickerDate > div {
  width: 100%;
}
.input_Box .right_text {
  position: absolute;
  right: 0;
  color: #999;
  font-size: 26px;
  top: 30px;
}
.input_Box .left_text {
  position: absolute;
  top: 30px;
  font-size: 26px;
  color: #999;
  right: 170px;
}
.input_Box .left_text_door {
  position: absolute;
  top: 30px;
  font-size: 26px;
  color: #999;
  right: 170px;
}
.input_Box :global .am-list-body {
  border-top: 0;
}
.textShort :global .am-input-control input {
  text-align: right;
  font-size: 26px;
}
.textShort :global .am-list-item .am-list-line .am-list-extra {
  font-size: 26px !important;
}
.textLong :global .am-list-body {
  border-top: 0;
}
.textLong :global .am-input-control input {
  text-align: right;
  font-size: 26px;
}
.textLong :global .am-list-item .am-list-line .am-list-extra {
  font-size: 26px !important;
}
.textLong :global input::-webkit-input-placeholder {
  font-size: 20px;
}
.textLong_door :global .am-list-body {
  border-top: 0;
}
.textLong_door :global .am-input-control input {
  text-align: right;
  font-size: 26px;
  padding-right: 85px;
}
.textLong_door :global .am-list-item .am-list-line .am-list-extra {
  font-size: 26px !important;
}
.textLong_door :global input::-webkit-input-placeholder {
  font-size: 20px;
}
.gift_Box {
  width: 100%;
}
.gift_Box .giftBox {
  width: 100%;
  height: 94px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}
.gift_Box .giftBox .giftName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift_Box .giftBox .giftName .giftName_title {
  display: block;
  width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.gift_Box .giftBox .icon_right {
  height: 30px;
}
.gift_Box .giftBox .choose {
  width: auto;
}
.gift_Box .giftBox .choose img {
  width: 26px;
  margin-right: 11px;
}
.gift_Box .giftBox .choose .address {
  width: 107px;
  height: 42px;
  border: 1px solid #999999;
  border-radius: 10px;
  text-align: center;
  line-height: 42px;
  font-size: 24px;
}
.button1 {
  width: 50%;
  height: 88px;
  background: #fff;
  color: #000;
  line-height: 88px;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: #000 1px solid;
  box-sizing: border-box;
}
.button2 {
  width: 50%;
  height: 88px;
  background: #21418A;
  color: #fff;
  line-height: 88px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
}
.button2:active {
  background: #999;
}
.notice {
  width: 100%;
  height: 90px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  color: #666666;
  font-size: 0.28rem;
}
.notice .icon_right {
  height: 30px;
}
.appreInterval {
  width: 100%;
  height: 90px;
  justify-content: space-between;
  color: #666666;
  font-size: 0.28rem;
  border: none;
}
.appreInterval .intervalbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.appreInterval .intervalbox .inputBox {
  position: relative;
}
.appreInterval .intervalbox .inputBox .inputClose {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.21rem;
  width: 0.42rem;
  height: 0.42rem;
  z-index: 3;
  background: #ccc;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20viewBox%3D'0%200%2030%2030'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
  background-size: 0.42rem auto;
  background-position: 0.04rem 0.04rem;
}
.appreInterval .intervalbox .inputBox .textInterval {
  border: none;
  border-radius: 8px;
  width: 150px;
  padding: 15px 0;
  margin: 0 10px;
  background: #F4F4F4;
}
