@import '~antd-mobile/dist/antd-mobile.less';

html,
body,
#root {
  height: 100%;
  background: #ededed;
  color: #333;
}

body {
  margin: 0;
}

a {
  color: #21418a;
}

/* 覆盖antd组件样式 */
.am-wingblank.am-wingblank-lg {
  margin-left: 36px;
  margin-right: 36px;
}
button,
input {
  border: none;
}

.am-button {
  border-radius: 88px !important;
  height: 88px !important;
  line-height: 88px !important;
}

.am-tab-bar-bar .am-tab-bar-tab-icon img {
  width: 68px;
  height: 68px;
}

.am-tab-bar {
  width: 100%;
  height: auto !important;
}
