.pageContent {
  width: 100%;
}

.groupItem {
  padding: 32px 0;
  border-bottom: 1px solid #e5e5e5;
  :global {
    .main-img {
      width: 171px;
      height: 95px;
      background-color: #ccc;
      border-radius: 10px;
      margin-right: 14px;
    }
    .btn {
      width: 102px;
      height: 38px;
      border: 1px solid rgba(33, 64, 138, 1);
      border-radius: 19px;
      font-size: 24px;
      color: #21418a;
    }
    .content {
      line-height: 1;
      .sub {
        color: #f55641;
        font-size: 22px;
        margin-left: 10px;
      }
      .time {
        color: #999;
        font-size: 24px;
        margin-top: 6px;
      }
      .detail {
        font-size: 24px;
        margin-top: 16px;
      }
    }
  }
}
