.detail {
	height: 100%;
	padding: 40px 0 0;
	box-sizing: border-box;
	:global {
		.couponDetail {
			margin-top: 20px;

			.head {
				padding: 0 40px;
				img {
					width: 28px;
					height: 33px;
					margin-right: 20px;
				}
				.title {
					padding: 20px 0;
					border-bottom: 1px dashed #e5e5e5;
				}
			}
			.ruleList {
				padding-left: 110px;
			}
		}

		.footerBtns {
			.deleteBtn {
				width: 375px;
				height: 96px;
				border: 2px solid rgba(153, 153, 153, 1);
				box-sizing: border-box;
				text-align: center;
				line-height: 92px;
			}
			.stopBtn {
				width: 375px;
				height: 96px;
				background: rgba(33, 65, 138, 1);
				color: #fff;
				text-align: center;
				line-height: 96px;
			}
		}
	}
}
